<% provide(:titre,'Accueil') %>
<div class="center hero-unit">
	<h1>
		Page d'Accueil de la Bibliotheque Sientifique
	</h1>
	<p>
		Bienvenue a la page d'Accueil de la Bibliotheque Scientifique.
	</p>

	<%= link_to "Liste des Auteurs", listeauteur_path, class: "btn btn-large btn-primary" %></br>
	<%= link_to "Liste des Publications", listepublication_path, class: "btn btn-large btn-primary" %>
</div>

