<% provide(:titre,'Aide') %>

<h1>Aide</h1>
	<p>
	  Pouvons-nous vous aidez?</br>
	  <a href="http://railstutorial.org/help">Rails Tutorial page d'aide</a>.
	  <a href="http://railstutorial.org/book">Rails Tutorial le livre</a>.
	</p>

